.primary-button {
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    border: none;
    border-radius: 5px;
    color: #000000;
    background-color: var(----accent);
    cursor: pointer;
    transition: background-color liner 250ms, color liner 250ms;

    &:hover{
        background-color: var(--primary-bg-color);
    }
    &:focus{
        color: var(--light-color);
    }
    &:disabled{
        background-color: #ABABAB;
        color: #000000;
    }
}

.primary-button-svg{
    margin-left: 5px;
    fill:currentColor;
}

.secondary-button {
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    color: #000000;
    background-color: transparent;
    border: 2px solid var(--accent);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color liner 250ms,
        color liner 250ms;

    &:hover{
        border: 2px solid var(--primary-bg-color);
    }
    &:focus{
        color: var(--light-color);
    }
    &:disabled{
        color: #000000;
        border: 2px solid #ABABAB;
    }
}