.about {
    background: var(--primary-bg-color);

}

.about-container {}

.about-pre-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-color);
    padding-top: 60px;
    margin-bottom: 12px;
}

.about-title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 32px;
}


.about-picture {}

.about-img {
    margin-left: auto;
    margin-right: auto;
}

.about-text-first {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.21;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--light-color);
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 4px;
    @include tablet {
        margin-top: 0;
        text-align: left;
        padding-left: 0;
        margin-bottom: 8px;
        padding-right: 32px;
    }
}

.about-text-second {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.19;
    text-align: center;
    color: var(--light-color);
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    @include tablet {
        text-align: left;
        padding-left: 0;
        padding-right: 32px;
        margin-bottom: 8px;
    }
}

.about-text-third {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: var(--light-color);
    text-align: center;
    @include tablet {
        margin-bottom: 48px;
    }

}

.about-btn {
    margin-left: auto;
    margin-right: auto;
    @include tablet {
        margin-left: 0;
    }
}

.about-flex {
    @include tablet {
        display: flex;
    }
}

.about-flex-text {
    @include tablet {
       margin-left: 32px; 
    }
}