.no-scroll {
    overflow: hidden;
}

.modal-buy-now__backdrop{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    
    overflow: scroll;
    background: rgba(248, 211, 78, 0.252);
    transition: opacity 500ms linear, visibility 500ms;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.modal-buy-now{
    position: absolute;
    width: calc(100% - 30px);
    width: 280px;
    background: #fcfcfc;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    padding: 32px;
    margin-top: 75px;
    transition: transform $animation-time $animation-cubic, visibility $animation-time;
    @include tablet {
        width: 568px;
        padding: 32px 54px;
    }
}

.modal-buy-now__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
    width: 20px;
    height: 20px;
    background-color:var(--light-color);
    border: none;
    transition: cursor $animation-time $animation-cubic, visibility $animation-time;
    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.modal-buy-now__button-close-svg {
    position: absolute;
    transform: translate(-50%, -50%);
    fill: var(--primary-text-color);
    transition: fill $animation-time $animation-cubic, visibility $animation-time;
    @media screen and (max-width: 767px) {
        width: 9px;
        height: 9px;
    }
    @media screen and (min-width: 768px) {
        width: 12px;
        height: 12px;
    }
    .modal-buy-now__button-close:hover &,
    .modal-buy-now__button-close:focus & {
        fill: var(--accent);
    } 
}

.modal-buy-now__title {
    margin: 0;
    text-align: center;
    color: #131313;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 1.50;
    }
    @media screen and (min-width: 768px) {    
        font-size: 20px;
        line-height: 1.40;
    }
}

.modal-buy-now__products {
    padding: 0;
    list-style-type: none;
    @media screen and (min-width: 768px) { 
        display: flex;   
        margin: 100px 0 40px 0;
    }
}

.modal-buy-now__list {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    @media screen and (max-width: 479px) {
        max-width: 100%;
    }
    @media screen and (max-width: 767px) {
        margin-top: 80px;
        &:last-child {
            margin-bottom: 24px;
        }
    }
}

.modal-buy-now__images {
    z-index: 1006;
    position: absolute;
    transform: translateY(-7%);
    @media screen and (max-width: 479px) {
        max-width: 100%;
    }
    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.modal-buy-now__wrapper-1 {
    z-index: 1005;
    position: absolute;
    display: block;
    transform: translateY(-40%);
    width: 132px;
    height: 131px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    @media screen and (max-width: 479px) {
        max-width: 100%;
    }
}

.modal-buy-now__wrapper-2 {
    z-index: 1005;
    position: absolute;
    display: block;
    transform: translateY(-40%);
    width: 132px;
    height: 131px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    @media screen and (max-width: 479px) {
        max-width: 100%;
    }
}

.modal-buy-now__wrapper-3 {
    z-index: 1005;
    position: absolute;
    display: block;
    transform: translateY(-40%);
    width: 132px;
    height: 131px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 479px) {
        max-width: 100%;
    }
}

.--ice-cream {
    z-index: 1004;
    display: block;
    width: 134px;
    height: 136px;
    border: 2px solid #96AF8C;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 16px;
    @media screen and (max-width: 479px) {
        max-width: 100%;
    }
}

.--ice-coffe {
    z-index: 1004;
    display: block;
    width: 134px;
    height: 136px;
    background: #EFD478;
    border: 2px solid #EFD478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 16px;
    @media screen and (max-width: 479px) {
        max-width: 100%;
    }
}

.--milkshake {
    z-index: 1004;
    display: block;
    width: 134px;
    height: 136px;
    border: 2px solid #D6936D;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 16px;
    @media screen and (max-width: 479px) {
        max-width: 100%;
    }
}

.modal-buy-now__products-names {
    z-index: 1007;
    position: absolute;
    display: inline-block;
    bottom: 20px;
    margin-left: 14px;
    margin-right: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.modal-buy-now__form {
    position: relative;
    @media screen and (min-width: 768px) {  
        margin-bottom: 20px;
    }
    &:last-of-type {
        @media screen and (min-width: 768px) {  
            margin-bottom: 32px;
        }
    }
}

.modal-buy-now__input-title {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 1.40;
    color: var(--primary-text-color);
    @media screen and (max-width: 479px) {   
        top: 20%;
        left: 15px;
        right: auto;
        font-size: 12px;
    }
    @media screen and (min-width: 480px)and (max-width: 767px) {
        transform: translateY(-80%);
        left: 15px;
        top: 50%;
        font-size: 12px;
    }
    @media screen and (min-width: 768px) {   
        transform: translateY(-50%);
        left: 60px;
        top: 50%;
        font-size: 14px;
    }
}

.modal-buy-now__input-title-comment {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    line-height: 1.40;
    color: var(--primary-text-color);
    @media screen and (max-width: 479px) {   
        top: 10%;
        left: 15px;
        right: auto;
        font-size: 12px;
    }
    @media screen and (min-width: 480px)and (max-width: 767px) {
        transform: translateY(-80%);
        left: 15px;
        top: 20%;
        font-size: 12px;
    }
    @media screen and (min-width: 768px) {   
        transform: translateY(-50%);
        left: 60px;
        top: 20%;
        font-size: 14px;
    }
}

.modal-buy-now__form-input {
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--primary-bg-color);
    border-radius: 10px;
    outline: none;
    transition: border 150ms $animation-cubic, visibility 150ms;
    @media screen and (max-width: 479px) {   
        width: 100%; 
        padding: 8px 12px 8px 12px;
        margin-bottom: 12px;
    }
    @media screen and (min-width: 480px)and (max-width: 767px) {
        width: 224px; 
        padding: 8px 12px 8px 12px;
        margin-bottom: 12px;
    }
    @media screen and (min-width: 768px) {   
        display: block;
        width: 368px; 
        padding: 11px 16px 11px 16px;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    &:hover,
    &:focus {
        border: 2px solid #0a8817;
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
    }
    &:valid:focus {
        border-color: #0a8817;
    }
    &:invalid:focus {
        border-color: #c00000;
    }

    &:focus + .modal-buy-now__input-title,
    &:not(:placeholder-shown) + .modal-buy-now__input-title {
        transform: translateY(-40px);
        @media screen and (max-width: 479px) {
            transform: translateY(-25px);
        }
    }
}

.modal-buy-now__user-comment{
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--primary-bg-color);
    border-radius: 10px;
    resize: none;
    outline: none;
    transition: border 150ms $animation-cubic, visibility 150ms;
    @media screen and (max-width: 479px) {   
        width: 100%; 
        padding: 8px 12px 39px 12px;
        margin-bottom: 24px;
    }
    @media screen and (min-width: 480px)and (max-width: 767px) {
        width: 224px; 
        padding: 8px 12px 39px 12px;
        margin-bottom: 24px;
    }
    @media screen and (min-width: 768px) {   
        display: block;
        width: 368px; 
        padding: 11px 16px 53px 16px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    &:hover,
    &:focus {
        border: 2px solid #0a8817;
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
    }
    &:valid:focus {
        border-color: #0a8817;
    }
    &:invalid:focus {
        border-color: #c00000;
    }

    &:focus + .modal-buy-now__input-title-comment,
    &:not(:placeholder-shown) + .modal-buy-now__input-title-comment {
        transform: translateY(-40px);
        @media screen and (max-width: 479px) {
            transform: translateY(-26px);
        }
        @media screen and (max-width: 767px) {
            transform: translateY(-37px);
        }
    }
}

.modal-buy-now__send-button {
    @media screen and (max-width: 767px) {   
        margin-bottom: 28px;
    }
    @media screen and (min-width: 768px) {   
        margin-bottom: 32px;
    }
}
