.franchise-modal {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 28px;
   
  
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

}

.modall-btm-close {
    left: 90%;
  
    border: none;
    background-color: var(--light-color);
    position: absolute;
    padding-right: 8px;
    margin-top: -20px;
}

.modal-btm-maill {
    transform: translateY(50%);
    position: absolute;
    left: 40px;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text-color);
}

.modal-btm-comment {
    transform: translateY(50%);
    position: absolute;
    left: 40px;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text-color);
}



.submit-div {
    text-align: center;
}

@include mobile {

    .modal-btm-1 {
        font-family: 'Seymour One', sans-serif;
        
        
        font-size: 16px;
        line-height: 1.5;

        display: flex;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;

        color: #131313;
    }
    .modal-btm-2 {
        font-family: 'Montserrat', sans-serif;
      
        font-size: 14px;
        line-height: 140%;
        padding-bottom: 24px;
    
        color: #131313;
    }

    .input-btm {
        width: 100%;
      
       height: 32px;
       left: 28px;
       top: 472px;
       background: rgba(248, 210, 78, 0.1);
       border: 1px solid var(--primary-bg-color);
       border-radius: 10px;
       margin-bottom: 12px;

    }

    .use_massege {
        width: 100%;
        
        height: 64px;
        left: 28px;
        top: 516px;
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid var(--primary-bg-color);
        border-radius: 10px;
    }
    .modal-btm-coment {
        width: 100%;
        height: 84px;
        border: 1px solid var(--primary-bg-color);
        background: #f8d24e1a;
        border-radius: 10px;

    }
  

    .modal-text-comment {
        height: 64px;
    }
  

    .modal-btm-maill {
        font-size: 12px;
        line-height: 1.4;
    }

  
    .modall-btm-submit {
    
        width: 114px;
        height: 42px;
       
        background: var( --accent);
        border-radius: 10px;
        
        border: none;

        margin-top: 24px;
        margin-bottom: 28px;
        
    }

    
}


@include tablet {
    
    .modal-btm-1 {
    font-family: 'Seymour One',sans-serif;

    font-size: 20px;
    line-height: 1.4;

    display: flex;
    align-items: center;
    text-align: center;
    color: #131313;
    padding-bottom: 24px;
    }

    .modal-text-comment {
        height: 84px;
    }

    .modal-btm-2 {
        font-family: 'Montserrat', sans-serif;
     
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 32px;
        color: #131313;
    }

    .input-btm {
        width: 100%;

        height: 42px;
        left: 100px;
        top: 362px;
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid var(--primary-bg-color);
        border-radius: 10px;
        margin-bottom: 16px;

    }

    
    .use_massege {
    width: 100%;
    
    height: 84px;
    left: 100px;
    top: 478px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--primary-bg-color);
    border-radius: 10px;
    }

    .modal-btm-maill {
        font-size: 14px;
        line-height: 1.4;
    }


    .modall-btm-submit {
        
        width: 121px;
        height: 42px;
        
        background: var(--accent);
        border-radius: 10px;

        margin-top: 32px;
        margin-bottom: 32px;
    }

   
}
