.modall-btm-close {
    left: 90%;
  
    border: none;
    background-color: var(--light-color);
    position: absolute;
    padding-right: 8px;
    margin-top: -20px;
}

@include mobile {

    .franchise-modal {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 28px;
        padding-bottom: 94px;
      
        background: #FCFCFC;
        border: 2px solid #F8D24E;
        border-radius: 10px;

    }


    .modal-btm-1 {
        font-family: 'Seymour One', sans-serif;
        
        
        font-size: 16px;
        line-height: 1.5;

        display: flex;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;

        color: #131313;
    }
    .modal-btm-2 {
        font-family: 'Montserrat', sans-serif;
      
        font-size: 14px;
        line-height: 140%;
        padding-bottom: 24px;
    
        color: #131313;
    }
    .modall-btm-submit {
        position: absolute;
        width: 114px;
        height: 42px;
        left: 83px;
        background: var( --accent);
        border-radius: 10px;
        
        border: none;
        top: 570px;
    }

    
}


@include tablet {
    
    .modal-btm-1 {
    font-family: 'Seymour One',sans-serif;

    font-size: 20px;
    line-height: 1.4;

    display: flex;
    align-items: center;
    text-align: center;
    color: #131313;
    padding-bottom: 24px;
    }

    .modal-btm-2 {
        font-family: 'Montserrat', sans-serif;
     
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 32px;
        color: #131313;
    }

    .modall-btm-submit {
        position: absolute;
        width: 121px;
        height: 42px;
        left: 224px;
        top: 570px;
        background: #F8D24E;
        border-radius: 10px;
    }

   
}
