.modal-location {
background: #FCFCFC;
border: 2px solid #F8D24E;
border-radius: 10px;
}

.modal-title-location {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.modal-location-img {
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 24px;
   
}

.open-map-btn {
    margin-bottom: 28px;
}