<section class="about">
    <div class="container">
        <p class="about-pre-title">tradition and love</p>
        <h2 class="about-title">how it’s made?</h2>
       <picture class="about-picture">
        <source
          srcset="
            ./images/about/cow-1x-desk-min.png 1x,
            ./images/about/cow-2x-desk-min.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/about/cow-1x-tab-min.png 1x,
            ./images/about/cow-1x-tab-min.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/about/cow-1x-mob-min.png 1x,
            ./images/about/cow-1x-mob-min.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="./images/about/cow-1x-desk-min.png"
          alt="фон корови"
        />
      </picture>
        <p class="about-text">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and
        we follow it when creating our handmade desserts.</p>
        <p class="about-text">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children
        from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
        <button class="" type="button">Read more</button>
    </div>
  </section>