<div class="backdrop">
    <div class="modal">
        <button type="button" class="modal-close"></button>
        <h3 class="modal-title">How it’s made?</h3>
        <iframe class="modal-iframe" src="https://www.youtube.com/watch?v=-dCVC9k5xMg"></iframe>
        <p class="modal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</div>