<div class="modal-buy-now__backdrop is-hidden" data-modal>

  <div class="modal-buy-now">
    <button type="button" class="modal-buy-now__button-close" data-modal-close>
      <svg class="modal-buy-now__button-close-svg" width="11px" height="11px">
        <use href="./images/svg-footer/sprite.svg.svg#icon-cross"></use>
      </svg>
    </button>

    <h3 class="modal-buy-now__title">Buy now</h3>
    <ul class="modal-buy-now__products">
      <li class="modal-buy-now__list --ice-cream">
        <div class="modal-buy-now__wrapper-1">
            <img class="modal-buy-now__images"
            srcset="
                ./images/buy-now-modal/ice-cream-desk-1x.png,
                ./images/buy-now-modal/ice-cream-desk-2x.png
            "
            src="./images/buy-now-modal/ice-cream-desk-1x.png"
            alt=""
            width="132px"
            height="132px"
            />
        </div>
        <p class="modal-buy-now__products-names">ice cream</p>
      </li>

      <li class="modal-buy-now__list --ice-coffe">
        <div class="modal-buy-now__wrapper-2">
            <img class="modal-buy-now__images"
            srcset="
                ./images/buy-now-modal/ice-coffe-desk-1x.png,
                ./images/buy-now-modal/ice-coffe-desk-2x.png
            "
            src="./images/buy-now-modal/ice-coffe-desk-1x.png"
            alt=""
            width="132px"
            height="132px"
            />
        </div>
        <p class="modal-buy-now__products-names">ice coffee</p>
      </li>

      <li class="modal-buy-now__list --milkshake">
        <div class="modal-buy-now__wrapper-3">
            <img class="modal-buy-now__images"
            srcset="
                ./images/buy-now-modal/milkshake-desk-1x.png,
                ./images/buy-now-modal/milkshake-desk-2x.png
            "
            src="./images/buy-now-modal/milkshake-desk-1x.png"
            alt=""
            width="132px"
            height="132px"
            />
        </div>
        <p class="modal-buy-now__products-names">milkshake</p>
      </li>
    </ul>

    <form>
      <input
        class="modal-buy-now__form-input"
        type="text"
        name="user-name"
        placeholder="Name"
        pattern=".{6,}"
      />

      <input
        class="modal-buy-now__form-input"
        type="text"
        name="user-tel"
        placeholder="Phone"
        pattern=".{10,}"
      />

      <textarea
        class="modal-buy-now__user-comment"
        name="user-comment"
        id="user-comment"
        placeholder="Comment"
        pattern=".{10,}"
      ></textarea>

      <button type="submit" class="modal__send-button">Submit</button>
    </form>
  </div>
</div>

