<div class="modal-buy-now__backdrop is-hidden" data-moda-mob>
  <div class="modal-buy-now">
    <button
      type="button"
      class="modal-buy-now__button-close"
      data-modal-mob-close
    >
      <svg class="modal-buy-now__button-close-svg" width="11" height="11">
        <use href="./images/svg-footer/sprite.svg.svg#icon-cross"></use>
      </svg>
    </button>

    <h3 class="modal-buy-now__title">Buy now</h3>
    <ul class="modal-buy-now__products">
      <li class="modal-buy-now__list --ice-cream">
        <div class="modal-buy-now__wrapper-1">
          <img
            class="modal-buy-now__images"
            srcset="
              ./images/buy-now-modal/ice-cream-desk-1x.png 1x,
              ./images/buy-now-modal/ice-cream-desk-2x.png 2x
            "
            src="./images/buy-now-modal/ice-cream-desk-1x.png"
            alt="ice-cream"
            width="132"
            height="132"
          />
        </div>
        <p class="modal-buy-now__products-names">ice cream</p>
      </li>

      <li class="modal-buy-now__list --ice-coffe">
        <div class="modal-buy-now__wrapper-2">
          <img
            class="modal-buy-now__images"
            srcset="
              ./images/buy-now-modal/ice-coffe-desk-1x.png 1x,
              ./images/buy-now-modal/ice-coffe-desk-2x.png 2x
            "
            src="./images/buy-now-modal/ice-coffe-desk-1x.png"
            alt="ice-coffe"
            width="132"
            height="132"
          />
        </div>
        <p class="modal-buy-now__products-names">ice coffee</p>
      </li>

      <li class="modal-buy-now__list --milkshake">
        <div class="modal-buy-now__wrapper-3">
          <img
            class="modal-buy-now__images"
            srcset="
              ./images/buy-now-modal/milkshake-desk-1x.png 1x,
              ./images/buy-now-modal/milkshake-desk-2x.png 2x
            "
            src="./images/buy-now-modal/milkshake-desk-1x.png"
            alt="milkshake"
            width="132"
            height="132"
          />
        </div>
        <p class="modal-buy-now__products-names">milkshake</p>
      </li>
    </ul>

    <form>
      <div class="modal-buy-now__form">
        <input
          class="modal-buy-now__form-input"
          type="text"
          name="user-name"
          id="modal-buy-now-name1"
          placeholder=" "
          required
          pattern=".{6,}"
        />
        <label for="modal-buy-now-name1" class="modal-buy-now__input-title"
          >Name</label
        >
      </div>

      <div class="modal-buy-now__form">
        <input
          class="modal-buy-now__form-input"
          type="text"
          name="user-tel"
          id="modal-buy-now-phone1"
          placeholder=" "
          required
          pattern=".{10,}"
        />
        <label for="modal-buy-now-phone1" class="modal-buy-now__input-title"
          >Phone</label
        >
      </div>

      <div class="modal-buy-now__form">
        <textarea
          class="modal-buy-now__user-comment"
          name="user-comment"
          id="modal-buy-now-comment1"
          placeholder=" "
        ></textarea>
        <label
          for="modal-buy-now-comment1"
          class="modal-buy-now__input-title-comment"
          >Comment</label
        >
      </div>

      <button type="submit" class="modal-buy-now__send-button primary-btn">
        Submit
      </button>
    </form>
  </div>
</div>
