<footer class="footer">

    <div class="conteiner caption">
        <div class="caption-footer">
            <p class="caption-footer-1">HOMEMADE ICE CREAM MADE</p>
            <p class="caption-footer-2">WIDTH PASSION</p>
        </div>

        <div class="social-items">
            <ul class="social-list">
                <li class="social-list-items">
                    <a href="#" class="social-link-footer">
                        <svg class="social-icon" width="20" height="20">
                             <use href="#"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-items">
                    <a href="#" class="social-link-footer">
                        <svg class="social-icon" width="20" height="20">
                            <use href="#"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-items">
                    <a href="#" class="social-link-footer">
                        <svg class="social-icon" width="20" height="20">
                            <use href="#"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="phone">
                <p>Feel free to contact</p>
                <a class="phone-number" href="tel:+610383766284">+61 0 383 766 284</a>
        </div>
        
        <div class="text-footer">
        </div>
        <p class="text">©2022 - IceCream. All Rights Reserved. </p> 

    </div>
</footer>