<footer class="footer">

    <div class="conteiner caption">
       <div class="caption-footer">
        <p class="caption-1">HOMEMADE ICE CREAM MADE</p>
        <p class="caption-2">WIDTH PASSION</p>
       </div>

    <div class="social-network">
        <ul class="social-list">
            <li class="social-list-footer">
                <a href="" class="social-links">
                    <svg class="social-links-icon" width="20" height="20">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
            <li class="social-list-footer">
                <a href="" class="social-links">
                    <svg class="social-links-icon" width="20" height="20">
                        <use href=""></use> 

                    </svg>
                </a>
            </li>
            <li class="social-list-footer">
                <a href="" class="social-links">
                    <svg class="social-links-icon" width="20" height="20">
                        <use href=""></use> 
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    <div class="phoun-footer">
    <ul class="phoun-ul">
        <li class="phoun-link">
            <a class="phoun-text" href="#">Feel free to contact</a>
            <a  class="phoun-number" href="#">+61 (0) 383 766 284</a>
        </li>
    </ul>
   </div>

    <div class="footer-text">
        <p class="text-end">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
    </div>

</footer>