<footer class="footer">

    <div class="conteiner caption">
        <div class="caption-footer">
            <p class="caption-footer-1">HOMEMADE ICE CREAM MADE</p>
            <p class="caption-footer-2">WIDTH PASSIONwith</p>
        </div>

        <div class="social-items">
            <ul class="social-list">
                <li class="social-list-items">
                    <a href="" class="social-link-footer">
                        <svg class="soc-icon-footer" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-items">
                    <a href="" class="social-link-footer">
                        <svg class="soc-icon-footer" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-items">
                    <a href="" class="social-link-footer">
                        <svg class="soc-icon-footer" width="20" height="20">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="phone">
            <ul class="phone-footer">
                <li class="phone-li">
                    <a class="phone-text">Feel free to contact</a>
                    <a class="phone-text">+61 (0) 383 766 284</a>
                </li>
            </ul>
        </div>
        
        <div class="text-footer">
            <p class="text">© 2022 - IceCream. All Rights Reserved. </p> 
        </div>

    </div>
</footer>