<div class="franchise-modal">
    <div class="modall-btm">
        <p class="modal-btm-1">Thank you for your interest in owning an Ice Cream shop</p>
        <p class="modal-btm-2">Due to the overwhelming volume of franchise requests 
            we are not accepting new franchisee applications at 
            this time. Once the application process resumes, we will 
            contact you for further information. Please fill out the 
            contact information below and we will reach out for 
            additional information. We appreciate your patience.</p>
            
    <form class="modal-btm-form"> 
    <label class="modal-btm-name">

       
        <input 
        type="text"
        name="user_name"
        class="input-btm"
        placeholder="" 
       
        required 
        pattern="^[a-zA-Za-яА-ЯіІїЇ]+"
        minlength="2"
        />
        <p class="input-text">Name</p>
           
  
    </label>
 
    <label class="modal-btm-maill">
    
        <input 
        type="tel" 
        class="input-btm" 
        placeholder="" 
        name="user_phone"
        required
        pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}"
        title="XXX-XXX-XX-XX"
        />
        <p class="input-text">Phone</p>
         
    

    <label class="modal-btm-maill">
       
        
        <input 
        type="email" 
        class="input-btm" 
        placeholder="" 
        name="user_maill"
        required
        pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
        />
        <p class="input-text">Email</p>
         
    
    </label>

    <label>
    <textarea name="use_massege" class="modal-btm-coment" placeholder="Comment"></textarea> 
    </label>
      <button type="button" class="modall-btm-close">
        <svg class="modall-close-btn" width="11" height="11">
            <use href="../images/svg-footer/sprite.svg.svg#icon-cross"></use>
        </svg>
        </button>
     
        </div>
        <button type="submit" class="modall-btm-submit">
            <span class="btm-submit-span">Submit</span>
        </bytton>
    </div>
    </form>
      
</div>