<section class="gallery">
  <h2 class="visually-hidden">Галерея</h2>
  <ul class="gallery__list">
    <li class="gallery__item">
      <picture class="gallery__picture">
        <source
          srcset="
            ./images/gallery/galery-1card-1x-min.jpg 1x,
            ./images/gallery/galery-1card-2x-min.jpg 2x
          "
        />
        <img
          src="./images/gallery/galery-1card-1x-min.jpg"
          alt="Зображення галереї"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture class="gallery__picture">
        <source
          srcset="
            ./images/gallery/galery-2card-1x-min.jpg 1x,
            ./images/gallery/galery-2card-2x-min.jpg 2x
          "
        />
        <img
          src="./images/gallery/galery-2card-1x-min.jpg"
          alt="Зображення галереї"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture class="gallery__picture">
        <source
          srcset="
            ./images/gallery/galery-3card-1x-min.jpg 1x,
            ./images/gallery/galery-3card-2x-min.jpg 2x
          "
        />
        <img
          src="./images/gallery/galery-3card-1x-min.jpg"
          alt="Зображення галереї"
        />
      </picture>
    </li>
  </ul>
</section>
