<section class="gallery">
  <h2 class="visually-hidden">Галерея</h2>
  <ul class="gallery__list">
    <li class="gallery__item">
      <picture class="gallery__picture">
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(max-width:767px)" />
        <img src="" alt="Зображення галереї" />
      </picture>
    </li>
    <li class="gallery__item">
      <picture class="gallery__picture">
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(max-width:767px)" />
        <img src="" alt="Зображення галереї" />
      </picture>
    </li>
    <li class="gallery__item">
      <picture class="gallery__picture">
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(max-width:767px)" />
        <img src="" alt="Зображення галереї" />
      </picture>
    </li>
  </ul>
</section>
