<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <picture class="about-picture">
          <source
            srcset="
              ./images/header-logo/logo-des.png    1x,
              ./images/header-logo/logo-des@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/header-logo/logo-tab.png    1x,
              ./images/header-logo/logo-tab@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/header-logo/logo-mob.png    1x,
              ./images/header-logo/logo-mob@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/header-logo/logo-tab.png" alt="logo" /> </picture
      ></a>
      <div class="header-des-nav">
        <ul class="header-des-list">
          <li class="header-des-item">
            <a href="./index.html" class="header-des-link">Home</a>
          </li>
          <li class="header-des-item">
            <a href="#" class="header-des-link">How it’s made?</a>
          </li>
          <li class="header-des-item">
            <a href="#" class="header-des-link">Our products</a>
          </li>
          <li class="header-des-item">
            <a href="#" class="header-des-link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="header-tab">
        <button
          type="button"
          class="header-memu-btn"
          aria-controls="menu-set"
          aria-expanded="false"
          data-menu-button
        >
          <svg
            class="header-memu-svg"
            width="32"
            heigth="32"
            aria-label="turn the menu"
          >
            <use
              href="./images/svg-footer/sprite.svg.svg#icon-menu"
              class="icon-menu"
            ></use>
            <use
              href="./images/svg-footer/sprite.svg.svg#icon-close-menu"
              class="icon-cross"
            ></use>
          </svg>
        </button>
        <button type="button" class="primary-btn buy-btn-tab">Buy now</button>
      </div>
      <div class="menu-set" id="menu-set" data-menu>
        <ul class="menu-set-list">
          <li class="menu-set-item">
            <a href="./index.html" class="menu-set-link">Home</a>
          </li>
          <li class="menu-set-item">
            <a href="#" class="menu-set-link">How it’s made?</a>
          </li>
          <li class="menu-set-item">
            <a href="#" class="menu-set-link">Our products</a>
          </li>
          <li class="menu-set-item">
            <a href="#" class="menu-set-link">Contact</a>
          </li>
        </ul>
        <button type="button" class="primary-btn buy-btn-mob">
          Buy now
          <svg class="primary-btn-svg">
            <use href="../images/svg-footer/sprite.svg.svg#"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
