<section class="hero">

    <h1 class="hero-title">ice cream made with <span>passion</span></h1>

    <button type="button" class="hero-prod-btn">Products</button>

    <a href="#" class="about-link link">How it’s made?</a>

    <img class="icecream-hero" src="./images/hero/hero-icecream-mobile.png" alt="main-icecream">
    <img class="icecream-eyes-green" src="./images/hero/green-eyes.png" alt="main-eyes">
    <img class="icecream-eyes-orange" src="./images/hero/orange-eyes.png" alt="main-eyes">
    <img class="icecream-eyes-pink" src="./images/hero/green-eyes.png" alt="main-eyes">
    <img class="icecream-shadow" src="./images/hero/icecream-shadow.png" alt="main=shadow">
    <img class="hero-dotties" src="./images/hero/dotts-mobile.png" alt="main-dotties">

    <ul class="benefits">
        <li class="benefits-item-cafe">
            <p class="benefits-numbers">16</p>
            <p class="benefits-description">cafes</p>
        </li>
        <li class="benefits-item-food">
            <p class="benefits-numbers">23</p>
            <p class="benefits-description">food trucks</p>
        </li>
    </ul>

    <img class="icecream-plate" src="./images/hero/plate-icecream.png" alt="main-plate">

    <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et</p>
    <button type="button" class="hero-btn"><img class="hero-arrow" src="./images/hero/arrow-two.png" alt="main-arrow"></button>
</section>
