<section class="hero">
    <div class="container">

        <div class="hero-main-block">
            <div class="hero-left-block">
                <h1 class="hero-title">ice cream made with <span>passion</span></h1>

                <div class="hero-form">
                    <button type="button" class="hero-prod-btn">Products</button>
                    <a href="#" class="hero-about-link link">How it’s made?</a>

                </div>
            </div>

            <ul class="benefits">
                <li class="benefits-item">16<span>cafes</span>
                </li>
                <li class="benefits-item">23<span>food trucks</span> </li>
            </ul>
        </div>

        <img class="icecream-plate" src="./images/plate-icecream.png" alt="main-plate">

        <div class="hero-text-block">
            <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
            <button type="button" class="hero-btn"><img src="./images/arrow-two.png"></button>
        </div>
    </div>
    <img class="hero-dotties"
        srcset="./images/dotts-mobile.png 320w, ./images/dotts-tablet.png 768w, ./images/dotts-desktop.png 1200w"
        src="./images/dotts-mobile.png" alt="main-dotties">
    <img class="icecream-hero"
        srcset="./images/hero-icecream-mobile.png 320w, ./images/hero-icecream-tablet.png 768w, ./images/hero-icecream-desktop.png 1200w"
        src="./images/hero-icecream-mobile.png" alt="main-icecream">
    <img class="icecream-eyes-green"
        srcset="./images/green-eyes-mobile.png 320w, ./images/green-eyes-tablet.png 768w, ./images/green-eyes-desktop.png 1200w"
        src="./images/green-eyes-mobile.png" alt="main-eyes">
    <img class="icecream-eyes-orange"
        srcset="./images/orange-eyes-mobile.png 320w, ./images/orange-eyes-tablet.png 768w, ./images/orange-eyes-desktop.png 1200w"
        src="./images/orange-eyes-mobile.png" alt="main-eyes">
    <img class="icecream-eyes-pink"
        srcset="./images/pink-eyes-mobile.png 320w, ./images/pink-eyes-tablet.png 768w, ./images/pink-eyes-desktop.png 1200w"
        src="./images/pink-eyes-mobile.png" alt="main-eyes">

</section>   
