<section class="hero">
  <div class="container background">
    <div class="hero-main-block">
      <div class="hero-left-block">
        <h1 class="hero-title">ice cream made with <span>passion</span></h1>

        <div class="hero-form">
          <button type="button" class="secondary-btn">Products</button>
          <a href="#about" class="hero-about-link link">How it’s made?</a>
        </div>
      </div>

      <ul class="benefits">
        <li class="benefits-item">16<span>cafes</span></li>
        <li class="benefits-item">23<span>food trucks</span></li>
      </ul>
    </div>

    <div class="hero-text-block">
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="hero-btn">
        <img src="./images/hero/arrow-two.png" alt="arrow" />
      </button>
    </div>
  </div>
</section>
