<div class="modal-location__backdrop container" data-modal-location>
  <div class="modal-location">
    <button
      type="button"
      class="modal-location__button-close"
      data-modal-location-close
    >
      <svg
        class="modal-location__button-close-svg"
        width="11.11px"
        height="11.14px"
      >
        <use href="./images/svg-footer/sprite.svg.svg#icon-cross"></use>
      </svg>
    </button>
    <h3 class="modal-title-location">Our Locations</h3>
    <picture>
      <source
        class="modal-location-img"
        srcset="
          ./images/location-modal/location-tab-poltava-1x.png 1x,
          ./images/location-modal/location-tab-poltava-2x.png 2x
        "
        media="(min-width:1200px)"
      />

      <source
        class="modal-location-img"
        srcset="
          ./images/location-modal/location-tab-poltava-1x.png 1x,
          ./images/location-modal/location-tab-poltava-2x.png 2x
        "
        media="(min-width:768px)"
      />

      <source
        class="modal-location-img"
        srcset="
          ./images/location-modal/location-mob-poltava-1x.png 1x,
          ./images/location-modal/location-mob-poltava-2x.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        class="modal-location-img"
        src="./images/location-modal/location-mob-poltava.png"
        alt="Мапа"
      />
    </picture>
    <button class="primary-btn open-map-btn" type="button">Open map</button>
  </div>
</div>
<script src="./js/location-modal.js"></script>
