<div class="modal-location__backdrop container">
    <div class="modal-location">
        <button type="button" class="modal-location__button-close">
            <svg class="modal-location__button-close-svg" width="11.11px" height="11.14px">
                <use href="./images/buy-now-modal/close.svg"></use>
            </svg>
        </button>
        <p class="modat-title-location">Our Locations</p>
    <img src="../images/location-modal/location-poltava.png" alt="Location-Poltava"> 
    <button type="button">Open map</button>
</div>