mariaaaaa
<div class="backdrop-ingrid is-hidden">
    
<div class="modal-ingrid">
    <button type="button" class="modal-ingrid-close" data-modal-close>
<svg class="modal-ingrid-cross" width="20" height="20">

    <use href="./images/modal-ingridients/icon.svg#icon-close-black-18dp-2-1"></use>
</svg>
    </button>
    <h2 class="modal-ingrid-title">Chocolate icecream </h2>
    <div class="modal-ingrid-picture">
        <picture>
            <source srcset="
            ./images/modal-ingridients/ice-cream-1x-min.png  1x,
            ./images/modal-ingridients/ice-cream-2x-min.png 2x
         " 
         media="(min-width:1200px)" />
            <img src="./images/modal-ingridients/ice-cream-1x-min.png" alt="icecream" width="131" height="131">
        </picture>
    
    </div>
    <h2 class="visually-hidden">callories</h2>
    <div class="callories-number-wrap">        
        <ul class="callories-number-list list">
            <li class="callories-number-item">320</li>
            <li class="callories-number-item">4g</li>
            <li class="callories-number-item">8,2g</li> 
            <li class="callories-number-item">40,4g</li> 
        </ul>
    </div>
        <div class="callories-name-wrap">
        <ul class="callories-name-list list">           
            <li class="callories-name-item">kcal</li>
            <li class="callories-name-item">Protein...</li>
            <li class="callories-name-item">Fats</li> 
            <li class="callories-name-item">Carbs</li> 
        </ul>
    </div>
    <div class="callories-ingredients-wrap">
        <h3 class="Ingredients-title">Ingredients</h3>
        <ul class="callories-ingredients-list list">
            
            
            <li>
                <p class="ingredients-list-text">Milk</p>
                <p class="ingredients-list-text">100ml</p>
            </li>
            <li>
                <p class="ingredients-list-text">Belgian chocolate</p>
                <p class="ingredients-list-text">20g</p>
            </li>
            <li>
                <p class="ingredients-list-text">Cream</p>
                <p class="ingredients-list-text">150ml</p>
            </li>
            <li>
                <p class="ingredients-list-text">Cocoa powder</p>
                <p class="ingredients-list-text">20g</p>
            </li>
            <li>
                <p class="ingredients-list-text">Sugar</p>
                <p class="ingredients-list-text">40g</p>
            </li>
            <li>
                <p class="ingredients-list-text">Vanilla sugar</p>
                <p class="ingredients-list-text">10g</p>
            </li>
        </ul>
       
    </div>
    <form class="ingredients-modal-form">

        <div class="ingredients-input">
            <label for="user-name" class="ingredients-input-title">Name</label>
            <input type="text" class="ingredients-input-form" name="user-name" required id="user-name"
                placeholder="Name">
        </div>
        <div class="ingredients-input">
            <label for="user-phone" class="ingredients-input-title">Phone</label>
            <input type="tel" class="ingredients-input-form" name="user-tel" title="+380 (96) 111-11-11" required
            minlength="3" placeholder="Phone">
        </div> 

        <div class="ingredients-input">
            <label for="user-comment" class="ingredients-input-title">Comment</label>
            <textarea name="user-comment" id="user-comment"  placeholder="Comment"></textarea>
        </div>
        
        <button type="submit" class="ingredients-input-button ">Submit</button>

    </form>

</div>
</div>

